<div *ngIf="showTabs" class="tabs-container">
  <nav class="mobile-tabs">
    <ul>
      <li routerLinkActive="active" [routerLink]="['/home']">
        <i-feather name="Home"></i-feather>
        <span>Início</span>
      </li>
      <li routerLinkActive="active" [routerLink]="['/favorites']">
        <i-feather name="Bookmark"></i-feather>
        <span>Favoritos</span>
      </li>
      <li routerLinkActive="active" (click)="logout()">
        <i-feather name="log-out" ></i-feather>
        <span>Sair</span>
      </li>
    </ul>
  </nav>
</div>