<div class="flex" *ngIf="size !== 'large'">
  <div class="card-movie" *ngFor="let movie of movies">
    <img
      [src]="
        movie.poster_path
          ? 'https://image.tmdb.org/t/p/w500' + movie.poster_path
          : 'https://via.placeholder.com/150'
      "
      class="card-img-top mr-4"
      alt="Movie Poster"
    />
  </div>
</div>

<div class="flex" *ngIf="size === 'large'">
  <div *ngFor="let movie of movies">
    <img
      [src]="
        movie.poster_path
          ? 'https://image.tmdb.org/t/p/w500' + movie.poster_path
          : 'https://via.placeholder.com/150'
      "
      class="card-img-top mr-4 card-movie-large"
      alt="Movie Poster"
    />
  </div>
</div>
