<div class="modal">
    <div class="modal-content">
      <span class="close-button" (click)="onClose()">&times;</span>
      <h2 class="mb-5">Onde assistir</h2>

      <div *ngIf="!isEmpty">
        <div *ngFor="let provider of providers">
          <div class="flex items-center bg-[#313982] rounded-full w-full p-3 mb-4" (click)="whereToWatch(provider.provider_name)">
            <img [src]="provider.logo_path ? 'https://image.tmdb.org/t/p/w500' + provider.logo_path : 'https://via.placeholder.com/150'" [alt]="provider.provider_name">
            <h2 class="ml-3 text-xl">{{provider.provider_name}}</h2>
          </div>
        </div>
      </div>

      <div *ngIf="isEmpty" class="flex items-center justify-center bg-[#313982] rounded-full p-3">
        <i-feather name="Frown" class="mr-3"></i-feather>
        <span class="">Plataformas não disponíveis!</span>
      </div>
    </div>
  </div>