.movie-detail {
  background-color: #2E304B;
}

.movie-detail h1, h2 {
  color: #ebebeb;
}

.description-content p {
  color: #C1C1C1;
}

.rating {
  display: flex;
  align-items: center;
  color: #C1C1C1;
}

i-feather {
  &.fill-star {
    stroke: none;
    fill: #CCCCCC;

    &.filled {
      fill: #ffd700;
    }
  }
}

.comment {
  border-top: 1px solid #ccc;
  padding: 10px 0;
}

.watch-button {
  background-color: #007bff;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.movie {
  display: inline-block;
  margin: 10px;
}

.movie img {
  width: 100px;
  height: auto;
}

.companies {
  text-align: center;
  color: white;
}

.company {
  display: inline-block;
}

.company img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
}

.company-carrosel {
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.company-item {
  flex: 0 0 auto;
}

.fill-play{
  fill: white;
}

.company span{
  color: #C1C1C1;
}

.image-container {
  position: relative;
  display: inline-block;
}

.movie-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.gradient-overlay {
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgb(46, 48, 75), rgb(0 0 0 / 0%), rgb(0 0 0 / 0%), rgb(0 0 0 / 0%));
}

.comments-card{
  background-color: #252741;
  width: 350px;
  margin: 0px 8px;
  border-radius: 10px;
  color: #C6C6C6;
  padding: 24px 18px 20px;
}

.comments-card img{
  width: 45px;
  height: 45px;
}

.comments-card p{
  line-height: 1.4;
}

.favorited{
  stroke: #e9bf37 !important; 
  fill: #e9bf37
}